build_vs2026/
build_vs2026_gpu/
dist/
cache/
.pytest_cache/
__pycache__/
*.pyc

third_party/
model/train/
model/infer/
*.pdparams

PaddleOCR/
PaddleX/
PaddleClas/

training/
recent_projects.json
.vscode/
